* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  /* height:100vh; */
  /* justify-content: center; */
}

.contiDiv1{
  /* margin-top:10%; */
  display:flex;
  justify-content: center;
  border:2px red solid;
}

.contiDiv2{
  display:flex;
  justify-content: center;
  border:2px red solid;
  align-items: center;
}

.button{
  font-size:15px;
}

.buttonConti{
  font-size:15px;
}

.canvas{
 margin-top:20px;
 width: 100%;
 height: 80%;
 border:2px red solid;
}

#chartContinent{
  margin: auto;
  width:70%;
  /* height:10%; */
}