* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
}
button {
  padding: 4px;
  margin: 5px;
  border-radius: 5px;
  border: 0.2px solid gray;
  font-size: 15px;
  margin-top: 0.5rem;
}

button:hover {
  cursor: pointer;
}

.instructions {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin:auto;
  align-self: center;
  padding: 1rem;
  font-size: 15px;
  border: 0.3px solid gray;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

.continents-1{
  display: flex;
  justify-content: center;
}

.button {
  font-size: 15px;
  padding: 0.3rem;
  color: black;
  background-color: white;
}

.continents-2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.countriesForEachRegion {
  width: 90%;
  height: 10%;
  margin: 1rem auto;
}

.buttonContinents {
  margin-top: 1rem;
  background-color: lightpink;
  padding: 0.5rem;
}

.canvas {
  margin: 0 auto;
  margin-top: 3%;
  height: 80%;
  width: 70%;
  /* border:2px red solid; */
}

#chartContinent {
  width: 80%;
  margin: 0 auto;
  /* height:10%; */
}
